//Обнуляющий стиль
@import 'nullstyle.scss';

//Шрифты
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

body{
	font-family: Roboto;
	background: #0b0f17;
	display: flex;
	justify-content: center;
	align-items: center;
	.body__content{
		border: 2px solid #1a1e24;
		border-radius: 7px;
		color: #FFF;
		font-size: 16px;
		letter-spacing: 1px;
		padding: 40px 30px;
		.content__title{
			font-size: 50px;
			line-height: 50px;
			width: 200px;
			color: #FFF;
			font-weight: 600;
			margin-bottom: 20px;
		}
	}
}
.schedule__settings{
	display: flex;
	.setting__field{
		margin: 0px 10px 10px 0px;
		select{
			width: 200px;
			background: transparent;
			border: 2px solid #1a1e24;
			border-radius: 10px;
			height: 40px;
			padding-left:20px;
			margin-top: 10px;
			color: #FFF;
			font-size: 16px;
			letter-spacing: 1px;
			option{
				color: #0b0f17;
			}
		}
	}
}
.wide__setting__field{
	p{margin: 0px 10px 10px 0px;}
	button{
		width: 50px;
		height: 40px;
		border-radius: 7px;
		background: transparent;
		border: 2px solid #1a1e24;
		color: #FFF;
		font-size: 16px;
		margin-bottom: 20px;
		&:hover{
			background: #171a22;
		}
		&:focus{
			background: #171a22;
		}
	}
}
.schedule{
	border: 2px solid #1a1e24;
	padding: 15px 15px;
	border-radius: 7px;
	.content{
		overflow: auto;
		height: 400px;
	}
	.date{
		display: flex;
		justify-content: space-between;
		margin-bottom: 15px;
		.day-name{
			font-size: 22px;
		}
		.day-date{
			font-size: 13px;
			color: #bcc5cd;
		}
	}
	&__field{
		.item{
			display: flex;
			background: #121820;
			padding: 20px 20px;
			border-radius: 7px;
			margin-bottom: 10px;
			.item__description{
				margin-right: 20px;
				display: flex;
				flex-direction: column;
				justify-content: space-between;
				.time{
					font-size: 18px;
					width: 50px;
				}
				.type{
					font-size: 14px;
					color: #ccd8dd;
				}
			}
			.item__info{
				display: flex;
				flex-direction: column;
				justify-content: space-between;
				.title{
					font-size: 18px;
					width: 300px;
				}
				.description{
					margin-top: 10px;
					font-size: 14px;
					color: #ccd8dd;
				}
			}
		}
	}
}

